{% extends 'charity/base.html' %}
{% block content %}
    <section class="steps--item">
        <h2>Dane użytkownika</h2>
        <div>
            <p><strong>Imię:</strong> {{ user.first_name }}</p>
        </div>
        <div>
            <p><strong>Nazwisko:</strong> {{ user.last_name }}</p>
        </div>
        <div>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </section>
    <section class="steps--item" id="donation_list">
        <h2>Przekazane dary:</h2>
        {% for donation in donations %}
            <p {% if donation.is_taken == True %} style="color: #737373"{% endif %}>
                <strong>Ilość worków:</strong> {{ donation.quantity }}<br>
                <strong>Odbiorca:</strong>{{ donation.institution.get_type_of_institution_display }}
                "{{ donation.institution.name }}"<br>
                <strong>Kategorie darowizny:</strong> {{ donation.category.all|join:', ' }}<br>
                <strong>Data odbioru:</strong> {{ donation.pick_up_date }} {{ donation.pick_up_time }}<br>

            <form method="post" action="{% url 'user' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ donation.id }}">
                <button type="submit">
                    {% if donation.is_taken == False %}
                        Odebrany
                    {% else %}
                        Nieodebrany
                    {% endif %}</button>
            </form>
            </p>
        {% endfor %}
    </section>
{% endblock %}